body {
  padding: 0px;
  overflow: hidden;
}

.topcorner {
  position: absolute;
  top: 8px;
  right: 8px;
}

#placeholder, .placeholder {
  position: absolute;
  left:8px;
  top:8px;
  right:8px;
  bottom:8px;
}

.sample-code {
  width:100%;
}